* /*body*/ {
    margin: 0;
    padding: 0;
    /*display: flex;*/
    box-sizing: border-box;
}

header {
    display: flex;
    position: fixed;
    /*height: 10%;*/
    width: 100%;
    background-color: #343a40;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.start-link {
    height: 25%
}

.start-link > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu {
    list-style-type: none;
    height: 25%;
}

.nav-link > a {
    text-decoration: none;
    color: white;
}

.nav-link {
    display: inline;
    /*margin-right: 2%;*/
}

/*.nav-link:last-child {
    margin-right: 0;
}*/

main {
    display: flex;
    padding-top: 6.4%;
    justify-content: center;
}

img {
    border-radius: 3px;
}

.welcome {
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-row {
    display: flex;
    justify-content: space-around;
}

.main-card {
    max-width: 900px;
}

.greeting {
    width: 30%;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 60%;
    border-radius: 5%;
}